.dadosLoja{
    background-color: white;
    box-shadow: #00000030 0px 10px 30px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    // flex-direction: column;
    gap: 20px;
    .envolveDadosLoja{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px 0;

        .nomeLoja{
            color: red;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }
    
        .enderecoLoja{
            color: #151515;;
            font-weight: bold;
        }
    
        .telefonesLoja{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding: 2px 0;
            
            .telefones{
                text-decoration: none;
                color: rgb(0, 0, 0);                         
            }
        }

        .envolveMapaHorarios{

            display: flex;
            gap: 10px;

            .botaoHorariosAtendimento{
                border: 1px solid rgb(255, 0, 0);
                padding: 3px;
                border-radius: 5px;
                cursor: pointer;
                color: rgb(255, 0, 0);
                background-color: rgb(255, 255, 255);
    
            }
            .botaoHorariosAtendimento:hover{
                background-color: rgb(255, 0, 0);
                color: rgb(255, 255, 255);
            }
        
            .mapaLoja{
                color: rgb(255, 0, 0);
                border: 1px solid;
                border-color: rgb(255, 0, 0);
                width: 55px;
                cursor: pointer;
                border-radius: 4px;
                padding-top: 2.5px;
            }
            .mapaLoja:hover{
                color: white;
                background-color: rgb(255, 0, 0);
            }
        }
        
    }   

}

